doctype html
html(lang='pt')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title || 'Gestão Barbearia'
    link(rel='stylesheet', href='/css/style.css')
  body
    if currentUser
      nav.navbar
        .container
          h1.logo Barbearia 
            if userType === 'barbeiro'
              span(style='font-size: 0.7rem; color: #3498db; margin-left: 0.5rem;') ✂️ Barbeiro
            else if userType === 'cliente'
              span(style='font-size: 0.7rem; color: #2ecc71; margin-left: 0.5rem;') 👤 Cliente
          ul.nav-links
            li: a(href='/') Dashboard
            
            //- APENAS BARBEIROS veem estas opções
            if userType === 'barbeiro'
              li: a(href='/clientes') Clientes
              li: a(href='/barbeiros') Barbeiros
              li: a(href='/servicos') Serviços
            
            //- AMBOS veem Reservas
            li: a(href='/reservas') Reservas
            
            li: a(href='/auth/logout') Sair
    
    main.container
      if error
        .alert.alert-error= error
      
      block content
    
    script(src='/js/main.js')
